Repository brayancapetillo/frontend-PersonalFinances: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint `**/*.{css,scss}`

:recycle: refactor(component): update reusable `dotted-bar-chart` component
  src/app/shared/components/chart/dotted-bar-chart/dotted-bar-chart.component.ts
Due: eslint

:truck: chore(style): relocate 'button.scss' and 'input.scss' for better structure
  src/app/styles/button.scss
  src/app/styles/input.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(primeng): add style files for PrimeNG components
  src/app/styles/primeng/button.scss
  src/app/styles/primeng/carousel.scss
  src/app/styles/primeng/input.scss
  src/app/styles/primeng/progressBar.scss
  src/app/styles/primeng/table.scss
  src/app/styles/primeng/tag.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(styles): add index.scss barrel for PrimeNG and Angular styles
  src/app/styles/index.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(global): update style.scss to use barrel import for styles
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:memo: docs(service): add TSDoc documentation for ValidateForm service
  src/app/shared/services/forms/validate-form.service.ts
Due: eslint

:sparkles: feat(constant): add transaction type constants
  src/app/shared/constants/global/transaction/transaction.ts
Due: eslint

:recycle: refactor(model): update imports in accountType model
  src/app/shared/models/accountType/accountType.ts
Due: eslint

:recycle: refactor(model): update imports in Bank model
  src/app/shared/models/bank/bank.ts
Due: eslint

:recycle: refactor(model): update imports in category model
  src/app/shared/models/category/category.ts
Due: eslint

:recycle: refactor(model): update imports in transaction model
  src/app/shared/models/transaction/transaction.ts
Due: eslint

:recycle: refactor(interface): update imports in sidebar interface
  src/app/shared/interfaces/components/sidebar/sidebar.ts
Due: eslint

:lipstick: style(global): style(styles): update color '--my-text-color' variable
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:recycle: refactor(Dto): update imports in signIn dto
  src/app/shared/interfaces/dtos/auth/signIn.dto.ts
Due: eslint

:recycle: refactor(Dto): update imports in signUp dto
  src/app/shared/interfaces/dtos/auth/signUp.dto.ts
Due: eslint

:recycle: refactor(Dto): update imports in userSummaryDTO dto
  src/app/shared/interfaces/dtos/user/userSummary.dto.ts
Due: eslint

:recycle: refactor(interface): update imports in IinformationCard interface
  src/app/shared/interfaces/components/messages/informationCard.ts
Due: eslint

:sparkles: feat(interface): add cardData interface
  src/app/shared/interfaces/dtos/global/cardData.ts
Due: eslint

:sparkles: feat(interface): add tableTransaction interface
  src/app/shared/interfaces/components/data/table/tableTransaction.ts
Due: eslint

:sparkles: feat(interface): add dataAccountCard interface
  src/app/shared/interfaces/dtos/account/dataAccountCard.ts
Due: eslint

:recycle: refactor(component): rename variable for gaugeChart in component GaugeChart
  src/app/shared/components/chart/gauge-chart/gauge-chart.component.ts
Due: eslint

:sparkles: feat(component): add reusable `credit card` component
  src/app/shared/components/media/credit-card/credit-card.component.html
  src/app/shared/components/media/credit-card/credit-card.component.scss
  src/app/shared/components/media/credit-card/credit-card.component.spec.ts
  src/app/shared/components/media/credit-card/credit-card.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:heavy_plus_sign: chore(deps): add fullcalendar/angular dependency
  package.json
Due: none

:sparkles: feat(component): add reusable `heat Map` component
  src/app/shared/components/chart/heat-map/heat-map.component.html
  src/app/shared/components/chart/heat-map/heat-map.component.scss
  src/app/shared/components/chart/heat-map/heat-map.component.spec.ts
  src/app/shared/components/chart/heat-map/heat-map.component.ts
  src/app/shared/interfaces/components/charts/dataHeatMapChart.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(service): Add `TableGenerator` service for dynamic table column generation
  src/app/shared/services/data/table-generator.service.spec.ts
  src/app/shared/services/data/table-generator.service.ts
Due: eslint

:sparkles: feat(component): add reusable `HalfDoughnut` component
  src/app/shared/components/chart/half-doughnut-chart/half-doughnut-chart.component.html
  src/app/shared/components/chart/half-doughnut-chart/half-doughnut-chart.component.scss
  src/app/shared/components/chart/half-doughnut-chart/half-doughnut-chart.component.spec.ts
  src/app/shared/components/chart/half-doughnut-chart/half-doughnut-chart.component.ts
  src/app/shared/interfaces/components/charts/dataHalfDoughnutChart.ts
Due: eslint, stylelint `**/*.{css,scss}`

:bug: fix(component): fix formatter bug in tooltip trigger in heatmap component
  src/app/shared/components/chart/heat-map/heat-map.component.ts
Due: eslint

:lipstick: style(component): adjust dashboard height for better responsiveness
  src/app/shared/components/layout/dashboard/dashboard.component.html
Due: eslint

:Sparkles: feat(component): add reusable `simpleGaugeChart` component
  src/app/shared/components/chart/simple-gauge-chart/simple-gauge-chart.component.html
  src/app/shared/components/chart/simple-gauge-chart/simple-gauge-chart.component.scss
  src/app/shared/components/chart/simple-gauge-chart/simple-gauge-chart.component.spec.ts
  src/app/shared/components/chart/simple-gauge-chart/simple-gauge-chart.component.ts
  src/app/shared/interfaces/components/charts/simpleGaugeChart.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): update `simpleGaugeChart` component for add shadow
  src/app/shared/components/chart/simple-gauge-chart/simple-gauge-chart.component.ts
Due: eslint

:sparkles: feat(config): add `DateFormat` pipe to application providers
  src/app/app.config.ts
Due: eslint

:sparkles: feat(interface): add dataAreaBump interface
  src/app/shared/interfaces/components/charts/dataAreaBump.ts
Due: eslint

:sparkles: feat(component): add reusable `AreaBumpChart` component
  src/app/shared/components/chart/area-bump-chart/area-bump-chart.component.html
  src/app/shared/components/chart/area-bump-chart/area-bump-chart.component.scss
  src/app/shared/components/chart/area-bump-chart/area-bump-chart.component.spec.ts
  src/app/shared/components/chart/area-bump-chart/area-bump-chart.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:arrow_up: chore(deps): upgrade @types/echarts dependency for development
  package.json
Due: none

:lipstick: style(primeng): update ProgressBar style for rounded design
  src/app/styles/primeng/progressBar.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(primeng): add styles for PrimeNG dropdown
  src/app/styles/primeng/dropdown.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(primeng): add styles for PrimeNG calendar
  src/app/styles/primeng/calendar.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(primeng): update index.scss barrel for PrimeNG
  src/app/styles/index.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(global): update color for '--my-surface-border' variable
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `TableSimple` component
  src/app/shared/components/data/table-simple/table-simple.component.html
  src/app/shared/components/data/table-simple/table-simple.component.scss
  src/app/shared/components/data/table-simple/table-simple.component.spec.ts
  src/app/shared/components/data/table-simple/table-simple.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

Path conditions:
  eslint: (any of: **/*.ts) or (any of: **/*.html)
  stylelint `**/*.{css,scss}`: any of: **/*.scss
