Repository brayancapetillo/frontend-PersonalFinances: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint `**/*.{css,scss}`

.lintstagedrc:

{
  "**/*.ts": [
    "eslint"
  ],
  "**/*.html":[
    "eslint"
  ],
  "**/*.scss":[
    "stylelint `**/*.{css,scss}`"
  ]
}

:sparkles: feat(component): add `cards` empty component page
  src/app/content/components/pages/dashboard/cards/cards.component.html
  src/app/content/components/pages/dashboard/cards/cards.component.scss
  src/app/content/components/pages/dashboard/cards/cards.component.spec.ts
  src/app/content/components/pages/dashboard/cards/cards.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `goals` empty component page
  src/app/content/components/pages/dashboard/goals/goals.component.html
  src/app/content/components/pages/dashboard/goals/goals.component.scss
  src/app/content/components/pages/dashboard/goals/goals.component.spec.ts
  src/app/content/components/pages/dashboard/goals/goals.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `home` empty component page
  src/app/content/components/pages/dashboard/home/home.component.html
  src/app/content/components/pages/dashboard/home/home.component.scss
  src/app/content/components/pages/dashboard/home/home.component.spec.ts
  src/app/content/components/pages/dashboard/home/home.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `settings` empty component page
  src/app/content/components/pages/dashboard/settings/settings.component.html
  src/app/content/components/pages/dashboard/settings/settings.component.scss
  src/app/content/components/pages/dashboard/settings/settings.component.spec.ts
  src/app/content/components/pages/dashboard/settings/settings.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `transaction` empty component page
  src/app/content/components/pages/dashboard/transactions/transactions.component.html
  src/app/content/components/pages/dashboard/transactions/transactions.component.scss
  src/app/content/components/pages/dashboard/transactions/transactions.component.spec.ts
  src/app/content/components/pages/dashboard/transactions/transactions.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(route): add file for routing for `dashboard`
  src/app/routes/auth/auth.routes.ts
  src/app/routes/dashboard/dashboard.routes.ts
Due: eslint

:sparkles: feat(route): update app routing to add lazy loading for dashboard routes
  src/app/app.routes.ts
Due: eslint

:heavy_plus_sign: chore(deps): add echarts dependency
  package.json
  yarn.lock
Due: none

:sparkles: feat(constants): add theme color constants
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:recycle: refactor(component): refactor reusable `card` component to support custom classes
  src/app/shared/components/panel/card/card.component.html
  src/app/shared/components/panel/card/card.component.ts
Due: eslint

:sparkles: feat(component): add reusable `doubleBarChart` component
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.html
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.scss
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.spec.ts
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(constants): update theme color constants to add shadows
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:sparkles: feat(component): refactor and improve `double-bar-chart` component
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.html
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.ts
  src/app/shared/interfaces/components/charts/dataDBarChart.ts
Due: eslint

:bug: fix(component): fix initial animation bug in ECharts graph
  src/app/shared/components/chart/double-bar-chart/double-bar-chart.component.ts
Due: eslint

:bug: fix(component): fix tooltip for sidebar
  src/app/shared/components/layout/sidebar/sidebar.component.html
Due: eslint

:lipstick: style(global): modify color h1, h2, h3, and h4 in global scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(global): add transition effect to body in index.html
  src/index.html
Due: eslint

:sparkles: feat(service): update `theme` service to add transition for theme toggle
  src/app/core/services/auth/theme/theme.service.ts
Due: eslint

:fire: refactor(index): remove transition effect from body in index.html
  src/index.html
Due: eslint

:lipstick: style(constants): update color for 'mySurfaceGroundDark' in theme constants
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:lipstick: style(constants): update 'themeConstants' to add gray scale colors
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:sparkles: feat(component): add reusable `dotted-bar-chart` component
  src/app/shared/components/chart/dotted-bar-chart/dotted-bar-chart.component.html
  src/app/shared/components/chart/dotted-bar-chart/dotted-bar-chart.component.scss
  src/app/shared/components/chart/dotted-bar-chart/dotted-bar-chart.component.spec.ts
  src/app/shared/components/chart/dotted-bar-chart/dotted-bar-chart.component.ts
  src/app/shared/interfaces/components/charts/dataDottedChart.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add transition effect to user option button in navbar
  src/app/shared/components/layout/navbar/navbar.component.html
Due: eslint

:sparkles: feat(type): add `bank` types
  src/app/shared/types/global/bank/bank.d.ts
Due: eslint

:lipstick: style(global): update color for '--my-text-color' variable
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:label: feat(type): add 'accountType' type
  src/app/shared/types/global/accountType/accountType.d.ts
Due: eslint

:label: feat(type): add 'accountTypeType' type
  src/app/shared/types/global/account/accountTypeType.d.ts
Due: eslint

:sparkles: feat(model): add Bank interface for bank data structure
  src/app/shared/models/bank/bank.ts
Due: eslint

:sparkles: feat(model): add category interface
  src/app/shared/models/category/category.ts
Due: eslint

:sparkles: feat(model): add categorytype interface
  src/app/shared/models/categoryType/categoryType.ts
Due: eslint

:sparkles: feat(model): add AccountType interface
  src/app/shared/models/accountType/accountType.ts
Due: eslint

:sparkles: feat(model): add transaction interface
  src/app/shared/models/transaction/transaction.ts
Due: eslint

:heavy_plus_sign: chore(deps): add dayjs dependency
  package.json
Due: none

:sparkles: feat(interface): add table primeng interface
  src/app/shared/interfaces/components/data/table/tablePrimeNg.ts
Due: eslint

:sparkles: feat(pipe): add `dateFormat` pipe
  src/app/shared/pipes/dates/date-format.pipe.spec.ts
  src/app/shared/pipes/dates/date-format.pipe.ts
Due: eslint

:sparkles: feat(model): add Account model
  src/app/shared/models/account/account.ts
Due: eslint

:lipstick: style(constants): update 'themeConstants' to add shadow colors
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:bento: feat(assets): add assets for credit card
  src/assets/images/creditCard/bbva.png
  src/assets/images/creditCard/cash.png
  src/assets/images/creditCard/cashLogo.png
  src/assets/images/creditCard/chip2.png
  src/assets/images/creditCard/mastercard.png
  src/assets/images/creditCard/nu.png
  src/assets/images/creditCard/rappi.png
  src/assets/images/creditCard/visa.png
Due: none

:lipstick: style(component): update 'myTextColorDark' constant in themeColors
  src/app/shared/constants/colors/themeColors.ts
Due: eslint

:sparkles: feat(component): add reusable `GaugeChart` component
  src/app/shared/components/chart/gauge-chart/gauge-chart.component.html
  src/app/shared/components/chart/gauge-chart/gauge-chart.component.scss
  src/app/shared/components/chart/gauge-chart/gauge-chart.component.spec.ts
  src/app/shared/components/chart/gauge-chart/gauge-chart.component.ts
  src/app/shared/interfaces/components/charts/dataGauge.ts
Due: eslint, stylelint `**/*.{css,scss}`
