Repository brayancapetillo/frontend-PersonalFinances: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint `**/*.{css,scss}`

.lintstagedrc:

{
  "**/*.ts": [
    "eslint"
  ],
  "**/*.html":[
    "eslint"
  ],
  "**/*.scss":[
    "stylelint `**/*.{css,scss}`"
  ]
}

:wrench: chore(hooks): update pre-commit hook to add yarn lint:style:fix
  .husky/pre-commit
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:heavy_plus_sign: chore(deps): add primeng dependency
  package.json
Due: none

:wrench: chore(config): enforce SCSS rules for width and height units in .stylelintrc.json
  .stylelintrc.json
Due: none

:sparkles: feat(component): add login component
  src/app/app.component.html
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/content/auth/login/login.component.html
  src/app/content/auth/login/login.component.scss
  src/app/content/auth/login/login.component.spec.ts
  src/app/content/auth/login/login.component.ts
  yarn.lock
Due: eslint, stylelint `**/*.{css,scss}`

:wrench: chore(config): add initial PrimeNG configuration with styles
  angular.json
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(scss): update style.scss file
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:wrench: chore(config): update the tailwind.config configuration file
  tailwind.config.js
Due: none

:heavy_plus_sign: chore(deps): add @fontsource/source-sans-pro dependency
  package.json
Due: none

:heavy_plus_sign: chore(deps): add prettier-plugin-tailwindcss dependency
  package.json
Due: none

:lipstick: style(scss): update style.scss file add fontsource
  angular.json
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:wrench: chore(config): update .prettierrc to include prettier-tailwind plugin
  .prettierrc
Due: none

:wrench: chore(config): update rules in .stylelintrc file
  .stylelintrc.json
Due: none

:heavy_plus_sign: chore(deps): add three dependency
  package.json
Due: none

:heavy_plus_sign: chore(deps): add tsparticles dependency
  package.json
Due: none

:heavy_plus_sign: chore(deps): add fortawesome dependency
  package.json
Due: none

:lipstick: style(primeng): add styles for PrimeNG button
  src/app/styles/button.scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(primeng): add styles for PrimeNG inputs
  src/app/styles/input.scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:wrench: chore(config): update app.config to include NgxParticlesModule
  src/app/app.config.ts
Due: eslint

:sparkles: feat(component): add reusable component for 3D models
  src/app/shared/components/models/model3d/model3d.component.html
  src/app/shared/components/models/model3d/model3d.component.scss
  src/app/shared/components/models/model3d/model3d.component.spec.ts
  src/app/shared/components/models/model3d/model3d.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable checkbox component
  src/app/shared/components/input/checkbox/checkbox.component.html
  src/app/shared/components/input/checkbox/checkbox.component.scss
  src/app/shared/components/input/checkbox/checkbox.component.spec.ts
  src/app/shared/components/input/checkbox/checkbox.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:wrench: chore(config): add particles configuration file
  src/assets/animations/particles/particles.ts
Due: eslint

:sparkles: feat(component): update `login` component
  src/app/content/auth/login/login.component.html
  src/app/content/auth/login/login.component.scss
  src/app/content/auth/login/login.component.ts
  yarn.lock
Due: eslint, stylelint `**/*.{css,scss}`

:lipstick: style(primeng): modify styles for the .p-inputtext class
  src/app/styles/input.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(button): add global class .mp-button for button
  src/app/styles/button.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `switch mode` component
  src/app/shared/components/layout/switch-mode/switch-mode.component.html
  src/app/shared/components/layout/switch-mode/switch-mode.component.scss
  src/app/shared/components/layout/switch-mode/switch-mode.component.spec.ts
  src/app/shared/components/layout/switch-mode/switch-mode.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:lipstick: style(components): update styles for reusable checkbox component
  src/app/shared/components/input/checkbox/checkbox.component.scss
Due: stylelint `**/*.{css,scss}`

:iphone: style(component): update styles for login component to responsive design
  src/app/content/auth/login/login.component.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(component): add switch-mode component to login component
  src/app/content/auth/login/login.component.html
  src/app/content/auth/login/login.component.ts
Due: eslint

:lipstick: style(global): update styles for body
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(component): add rotation for model 3D
  src/app/shared/components/models/model3d/model3d.component.ts
Due: eslint

:lipstick: style(primeng): add styles for PrimeNG toast
  src/app/styles/primeng/toast.scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(validation): add style for reactive form validation
  src/app/styles/angular/validation.scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(service): add `toast message` service
  src/app/app.config.ts
  src/app/core/services/messageService/toast-message.service.spec.ts
  src/app/core/services/messageService/toast-message.service.ts
  src/app/shared/types/toastMessage/toastMessage.d.ts
Due: eslint

:sparkles: feat(service): add `form validation` service
  src/app/core/services/forms/validate-form.service.spec.ts
  src/app/core/services/forms/validate-form.service.ts
  src/app/shared/interfaces/forms/errorDetails.ts
  src/app/shared/types/forms/errorControl.d.ts
Due: eslint

:sparkles: feat(validator): add custom validation for forms
  src/app/shared/validators/forms/passwordValidator.ts
Due: eslint

:sparkles: feat(component): add register form to the `login` component
  src/app/content/auth/login/login.component.html
  src/app/content/auth/login/login.component.scss
  src/app/content/auth/login/login.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:memo: docs(component): add documentation for 'switch-mode' component
  src/app/shared/components/layout/switch-mode/switch-mode.component.ts
Due: eslint

:wrench: chore(tsconfig): add absolute paths in tsconfig
  tsconfig.json
Due: none

:heavy_plus_sign: chore(deps): add ngx-cookie-service dependency
  package.json
Due: none
