Repository brayancapetillo/frontend-PersonalFinances: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint `**/*.{css,scss}`

:heavy_plus_sign: chore(deps): add jwt-decode dependency
  package.json
Due: none

:wrench: chore(tailwind): add custom drop-shadow in 'tailwind.config'
  tailwind.config.js
Due: none

:lipstick: style(global): update global styles
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:lipstick: style(transition): add style for transitions in routing of app
  src/app/app.config.ts
  src/app/styles/angular/transition.scss
  src/app/styles/button.scss
Due: eslint, stylelint `**/*.{css,scss}`

:wrench: chore(environment): add environments in the app
  angular.json
  src/environments/environment.common.ts
  src/environments/environment.development.ts
  src/environments/environment.prod.ts
  yarn.lock
Due: eslint

:bento: feat(assets): add illustrations
  src/assets/images/ilustration/mail.png
Due: none

:sparkles: feat(service): update `toast message` service
  src/app/core/services/messageService/toast-message.service.ts
Due: eslint

:sparkles: feat(constants): add HTTP status code constants
  src/app/shared/constants/http/InformationalStatusCode.ts
  src/app/shared/constants/http/clientErroStatusCode.ts
  src/app/shared/constants/http/redirectionStatusCode.ts
  src/app/shared/constants/http/serverStatusCode.ts
  src/app/shared/constants/http/successStatusCode.ts
Due: eslint

:truck: chore(service): relocate `validate-form` service to shared directory
  src/app/shared/services/forms/validate-form.service.spec.ts
  src/app/shared/services/forms/validate-form.service.ts
  src/app/shared/types/forms/errorControl.d.ts
Due: eslint

:label: feat(interface): add structured response interfaces for API
  src/app/shared/interfaces/api/errorResponse.ts
  src/app/shared/interfaces/api/successResponse.ts
Due: eslint

:sparkles: feat(service): add `auth` service
  src/app/core/services/api/auth/auth.service.spec.ts
  src/app/core/services/api/auth/auth.service.ts
  src/app/shared/interfaces/dtos/auth/signIn.dto.ts
  src/app/shared/interfaces/dtos/auth/signUp.dto.ts
  src/app/shared/interfaces/dtos/auth/tokenSumary.dto.ts
  src/app/shared/interfaces/dtos/user/userSummary.dto.ts
Due: eslint

:sparkles: feat(interceptor): add `httpInterceptor` interceptor
  src/app/app.config.ts
  src/app/core/interceptors/http/http.interceptor.spec.ts
  src/app/core/interceptors/http/http.interceptor.ts
Due: eslint

:sparkles: feat(service): add `error-handle` service for API errors handling
  src/app/core/services/api/http/error/error-handler.service.spec.ts
  src/app/core/services/api/http/error/error-handler.service.ts
  src/app/shared/models/user/userPF.ts
  src/app/shared/types/api/error/errorHttp.d.ts
Due: eslint

:sparkles: feat(service): add `user` service
  src/app/core/services/auth/user/user.service.spec.ts
  src/app/core/services/auth/user/user.service.ts
Due: eslint

:label: feat(type): add 'ilustrationName' type
  src/app/shared/types/assets/images/ilustation.d.ts
Due: eslint

:sparkles: feat(component): add reusable `information-card` component
  src/app/shared/components/messages/information/information-card/information-card.component.html
  src/app/shared/components/messages/information/information-card/information-card.component.scss
  src/app/shared/components/messages/information/information-card/information-card.component.spec.ts
  src/app/shared/components/messages/information/information-card/information-card.component.ts
  src/app/shared/interfaces/components/messages/informationCard.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `card` component
  src/app/shared/components/panel/card/card.component.html
  src/app/shared/components/panel/card/card.component.scss
  src/app/shared/components/panel/card/card.component.spec.ts
  src/app/shared/components/panel/card/card.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `verify-email` component in auth
  src/app/content/components/pages/auth/verify-email/verify-email.component.html
  src/app/content/components/pages/auth/verify-email/verify-email.component.scss
  src/app/content/components/pages/auth/verify-email/verify-email.component.spec.ts
  src/app/content/components/pages/auth/verify-email/verify-email.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:lock: feat(guard): add `token` guard for route protection
  src/app/core/guards/token.guard.spec.ts
  src/app/core/guards/token.guard.ts
Due: eslint

:sparkles: feat(component): add `dashboard` component
  src/app/content/components/dashboard/dashboard.component.html
  src/app/content/components/dashboard/dashboard.component.scss
  src/app/content/components/dashboard/dashboard.component.spec.ts
  src/app/content/components/dashboard/dashboard.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:adhesive_bandage: fix(validator): fix regular expresion for password
  src/app/shared/validators/forms/passwordValidator.ts
Due: eslint

:sparkles: feat(route): add `auth` routes for authentication
  src/app/routes/auth/auth.routes.ts
Due: eslint

:sparkles: feat(routes): update 'app-routes' for lazy loading
  src/app/app.routes.ts
Due: eslint

:sparkles: feat(component): update `login` component
  src/app/content/auth/login/login.component.ts
Due: eslint

:lipstick: style(global): modify color variables in global scss
  src/styles.scss
Due: stylelint `**/*.{css,scss}`

:truck: chore(component): relocate `login` component to auth pages
  src/app/content/components/pages/auth/login/login.component.html
  src/app/content/components/pages/auth/login/login.component.scss
  src/app/content/components/pages/auth/login/login.component.spec.ts
  src/app/content/components/pages/auth/login/login.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:recycle: refactor(service): refactor `user` service for set cookies
  src/app/core/services/auth/user/user.service.ts
Due: eslint

:wrench: chore(tailwind): add custom boxShadow in 'tailwind.config'
  tailwind.config.js
Due: none

:fire: chore(app.config): eliminate unnecessary route transition settings
  src/app/app.config.ts
Due: eslint

:recycle: refactor(component): update syntax for `switch-mode` component in HTML
  src/app/shared/components/layout/switch-mode/switch-mode.component.html
Due: eslint

:sparkles: feat(constants): add cookies constants
  src/app/shared/constants/cookies/cookies.ts
Due: eslint

:sparkles: feat(service): add `theme` service
  src/app/core/services/auth/theme/theme.service.spec.ts
  src/app/core/services/auth/theme/theme.service.ts
Due: eslint

:sparkles: feat(service): update `user` service to use constants for cookies
  src/app/core/services/auth/user/user.service.ts
Due: eslint

:sparkles: feat(component): update `switch-mode` component for theme switching
  src/app/core/guards/token.guard.ts
  src/app/shared/components/layout/switch-mode/switch-mode.component.ts
Due: eslint

:sparkles: feat(component): add reusable `sidebar` component
  src/app/shared/components/layout/sidebar/sidebar.component.html
  src/app/shared/components/layout/sidebar/sidebar.component.scss
  src/app/shared/components/layout/sidebar/sidebar.component.spec.ts
  src/app/shared/components/layout/sidebar/sidebar.component.ts
  src/app/shared/interfaces/components/sidebar/sidebar.ts
  src/assets/images/avatar.png
  src/assets/images/logo.png
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `navbar` component
  src/app/shared/components/layout/navbar/navbar.component.html
  src/app/shared/components/layout/navbar/navbar.component.scss
  src/app/shared/components/layout/navbar/navbar.component.spec.ts
  src/app/shared/components/layout/navbar/navbar.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `dashboard` component
  src/app/content/components/dashboard/dashboard.component.html
  src/app/content/components/dashboard/dashboard.component.ts
  src/app/shared/components/layout/dashboard/dashboard.component.html
  src/app/shared/components/layout/dashboard/dashboard.component.scss
  src/app/shared/components/layout/dashboard/dashboard.component.spec.ts
  src/app/shared/components/layout/dashboard/dashboard.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `analytics` empty component page
  src/app/content/components/pages/dashboard/analitycs/analitycs.component.html
  src/app/content/components/pages/dashboard/analitycs/analitycs.component.scss
  src/app/content/components/pages/dashboard/analitycs/analitycs.component.spec.ts
  src/app/content/components/pages/dashboard/analitycs/analitycs.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add `budgets` empty component page
  src/app/content/components/pages/dashboard/budgets/budgets.component.html
  src/app/content/components/pages/dashboard/budgets/budgets.component.scss
  src/app/content/components/pages/dashboard/budgets/budgets.component.spec.ts
  src/app/content/components/pages/dashboard/budgets/budgets.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

Path conditions:
  eslint: (any of: **/*.ts) or (any of: **/*.html)
  stylelint `**/*.{css,scss}`: any of: **/*.scss
