Repository brayancapetillo/frontend-PersonalFinances: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint `**/*.{css,scss}`

.lintstagedrc:

{
  "**/*.ts": [
    "eslint"
  ],
  "**/*.html":[
    "eslint"
  ],
  "**/*.scss":[
    "stylelint `**/*.{css,scss}`"
  ]
}

:sparkles: feat(component): add reusable `input` component for forms
  src/app/shared/components/form/input/input.component.html
  src/app/shared/components/form/input/input.component.scss
  src/app/shared/components/form/input/input.component.spec.ts
  src/app/shared/components/form/input/input.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `input-date` component for forms
  src/app/shared/components/form/input-date/input-date.component.html
  src/app/shared/components/form/input-date/input-date.component.scss
  src/app/shared/components/form/input-date/input-date.component.spec.ts
  src/app/shared/components/form/input-date/input-date.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `input-mask` component for forms
  src/app/shared/components/form/input-mask/input-mask.component.html
  src/app/shared/components/form/input-mask/input-mask.component.scss
  src/app/shared/components/form/input-mask/input-mask.component.spec.ts
  src/app/shared/components/form/input-mask/input-mask.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `input-number` component for forms
  src/app/shared/components/form/input-number/input-number.component.html
  src/app/shared/components/form/input-number/input-number.component.scss
  src/app/shared/components/form/input-number/input-number.component.spec.ts
  src/app/shared/components/form/input-number/input-number.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:sparkles: feat(component): add reusable `input-select` component for forms
  src/app/shared/components/form/input-select/input-select.component.html
  src/app/shared/components/form/input-select/input-select.component.scss
  src/app/shared/components/form/input-select/input-select.component.spec.ts
  src/app/shared/components/form/input-select/input-select.component.ts
Due: eslint, stylelint `**/*.{css,scss}`

:lipstick: style(primeng): update styles for PrimeNG input
  src/app/styles/primeng/input.scss
Due: stylelint `**/*.{css,scss}`

:sparkles: feat(model): update `Account` model to include new properties
  src/app/shared/models/account/account.ts
Due: eslint

:iphone: style(component): improve 'input-select' styles for responsive design
  src/app/shared/components/form/input-select/input-select.component.html
Due: eslint

:iphone: style(component): improve 'input-number' styles for responsive design
  src/app/shared/components/form/input-number/input-number.component.html
Due: eslint
